@import "bootstrap.min.css";

.navbar {
    margin: 0;
}

.logo {
    padding: 10px;
    margin: 0;
    font-size: 70px;
    text-align: center;
}

.book img {
    width: 200px;
    height: 300px;
}



.book {
    text-align: center;
    margin: 5px;
}

.books td {
    width: 220px;
}

.book p {
    font-family: Arial;
}

.form-panel {
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 40%;
}

.form-panel form {
    margin-left: 10%;
    margin-right: 10%;
}

.btn-page {
    width: 50px;
}

form {
    width: 400px;
    margin: 50px auto;
}
.file-upload {
    position: relative;
    height: 32px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.42857143;
    color: #555;
}

.file-upload:after {
    content: "Browse";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    padding: 6px 12px;
    color: #333;
}
.file-upload:hover:after {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.file-upload:active:after {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.file-upload:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: calc(100% - 40px);
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-upload input {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: 99;
    width: 100%;
    opacity: 0;
}
.random {
    background: red !important;
}
